
h3{
color: red
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    background-color: white;
    color: red;
    padding-right: 30px;
    display: flex
}